<% if @rooms.length > 0 %>
  <h3>헌재 운영중인 레벨레이터 플매방 코드</h3>
  <h1><%= @rooms.pluck(:code).join(', ') %></h1>
<% else %>
  <h3>현재 운영중인 레벨레이터 플매방이 없습니다</h3>
<% end %>
<%= link_to '새로고침', root_path %>
<br/><br/>

<p>현재 길티기어 텔레그램방에서 운영하는 플매방 코드를 공유하는 페이지입니다.</p>
